global
    log /dev/log local0
    log localhost local1 notice
    maxconn 2000
    daemon

defaults
    log global
    mode http
    option httplog
    option dontlognull
    option http-server-close
    option forwardfor except 127.0.0.0/8
    retries 3
    timeout connect 5000
    timeout client 50000
    timeout server 50000

listen http-in
    bind *:80
    server web01 $TARGET_HOST:$PORT ssl verify none check